<tr id="row<%= investment.id %>">
	<td><%= number_with_precision(investment.total_investment, precision: 2, delimiter: ',') %></td>
	<td><%= number_with_precision(investment.future_value, precision: 2, delimiter: ',') %></td>
	<td>
		<%= link_to investment_path(investment), class: 'btn btn-info' do %>
			<span class="fa fa-eye"> Details</span>
		<% end %>
	</td>
	<td>
		<%= link_to investment_path(investment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', remote: true do %>
			<span class="fa fa-remove"></span>
		<% end %>
	</td>
</tr>