<tr id="row<%= investment.id %>">
	<td><%= number_with_precision(investment.future_value - investment.total_interest, precision: 2) %></td>
	<td><%= number_with_precision(investment.future_value, precision: 2) %></td>
	<td><%= link_to 'View', investment_path(investment) %></td>
	<td><%= link_to 'Delete', investment_path(investment), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
</tr>