<div class="card card-article">
	<%= link_to article_path(article), target: "_self" do %>
		<%= image_tag(article.image.url(:thumb).to_s, class: 'card-img-top') if article.image %>
	<% end %>

	<div class="card-body">
		<%= link_to article_path(article), target: "_self" do %>
			<h2 class="card-title h3 text-dark font-weight-bold"><%= article.title %></h2>
		<% end %>
		
		<div class="date text-muted card-subtitle mb-3"><%= article.created_at.strftime("%a, %d %b %Y, %I:%M%p") %></div>

		<div class="article-external-link mb-2"><%= link_to 'View article from original source', article.url, target: "_blank", class: 'btn btn-secondary btn-sm' if article.url %></div>

		<% if current_user %>
			<% if current_user.admin? %>
				<%= link_to 'Edit Article', edit_article_path(article), class: 'btn btn-info btn-sm mb-2' unless article.url %>
				<%= link_to 'Delete Article', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm mb-2' %>
			<% end %>
		<% end %>
	</div>
</div>
