<h1><%= article.title %></h1>

<%= link_to article_path(article), target: "_self" do %>

	<div><%= image_tag(article.image.url(:thumb).to_s) if article.url %></div>

<% end %>

<div><%= link_to 'View article from original source', article.url, target: "_blank", class: '' if article.url %></div>

<div><%= simple_format(article.content) %></div>

<% if current_user %>
	<% if current_user.admin? %>
		<%= link_to 'Edit Article', edit_article_path(article) unless article.url %>
		<%= link_to 'Delete Article', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
<% end %>
	