<h1>Sign Up</h1>

<%= form_with model: @user, local: true do |form| %>
	<div>
		<%= form.text_field :name, placeholder: 'Name', required: true, class: '' %>
	<div>
		<%= form.text_field :email, type: 'email', placeholder: 'Email', required: true, class: '' %>
	</div>
	<div>
		<%= form.password_field :password, placeholder: 'Password', required: true, class: '' %>
	</div>
	<div>
		<%= form.password_field :password_confirmation, placeholder: 'Confirm password', required: true, class: '' %>
	</div>
	<div>
		<%= link_to 'SIGN IN', sign_in_path, class: 'btn btn-default' %>
	</div>
	<div>
		<%= form.submit 'SIGN UP' %>
	</div>
	<div>
		<%= link_to 'Continue with Facebook', "/auth/facebook", class: 'btn btn-default' %>
	</div>
<% end %>